.card-img-top{
    height:200px;
    width: 100% !important;
    object-fit: cover;
}

.flag{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
.destination{
    font-size: 10px;
    font-weight:bold;
    color:lightgray;
}

.fa{
    font-size: 12px;
    
}
.fa-star{
    color: yellow;
}